.user-added-edited,
.user-added-edited * {
  box-sizing: border-box;
}
.user-added-edited {
  background: #ffffff;
  height: 844px;
  position: relative;
  overflow: hidden;
}
.gradient-blur {
  background: linear-gradient(
    90deg,
    rgba(81, 142, 248, 1) 0%,
    rgba(78, 173, 247, 1) 20.666655898094177%,
    rgba(70, 248, 245, 1) 70.66665887832642%,
    rgba(70, 248, 245, 1) 79.1666567325592%
  );
  border-radius: 137px;
  opacity: 0.56;
  width: 511px;
  height: 192px;
  position: absolute;
  left: 32px;
  top: 476px;
  filter: blur(99px);
}
.gradient-blur2 {
  background: linear-gradient(
    90deg,
    rgba(81, 142, 248, 1) 0%,
    rgba(78, 173, 247, 1) 20.666655898094177%,
    rgba(70, 248, 245, 1) 70.66665887832642%,
    rgba(70, 248, 245, 1) 79.1666567325592%
  );
  border-radius: 137px;
  opacity: 0.56;
  width: 511px;
  height: 192px;
  position: absolute;
  left: -158px;
  top: 153px;
  filter: blur(99px);
}
.group-169 {
  position: absolute;
  inset: 0;
}
.group-168 {
  width: 200px;
  height: 200px;
  position: static;
}
.ellipse-50 {
  background: #55d671;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 95.28px;
  top: 98px;
}
.frame {
  width: 120px;
  height: 120px;
  position: absolute;
  left: 135.28px;
  top: 138px;
  overflow: visible;
}
.user-added-edited2 {
  color: #55d671;
  text-align: center;
  font-family: "OpenSans-ExtraBold", sans-serif;
  font-size: 30px;
  font-weight: 800;
  position: absolute;
  left: 50%;
  translate: -50%;
  bottom: 54.25%;
  top: 40.89%;
  height: 4.86%;
}
.frame-59 {
  width: 349px;
  height: 62px;
  position: absolute;
  left: 22px;
  top: 510px;
}
.button {
  background: #55d671;
  border-radius: 8px;
  padding: 19px 113px 19px 113px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 349px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.button2 {
  color: var(--white, #ffffff);
  text-align: center;
  font-family: "Urbanist-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
