.sign-in,
.sign-in * {
  box-sizing: border-box;
}
.sign-in {
  background: #fdfdfd;
  height: 1300px;
  position: relative;
  overflow: hidden;
}
.gradient-blur {
  background: linear-gradient(
    90deg,
    rgba(81, 142, 248, 1) 0%,
    rgba(78, 173, 247, 1) 20.666655898094177%,
    rgba(70, 248, 245, 1) 70.66665887832642%,
    rgba(70, 248, 245, 1) 79.1666567325592%
  );
  border-radius: 137px;
  opacity: 0.56;
  width: 511px;
  height: 192px;
  position: absolute;
  left: 173px;
  top: 56px;
  filter: blur(99px);
}
.gradient-blur2 {
  background: linear-gradient(
    90deg,
    rgba(81, 142, 248, 1) 0%,
    rgba(78, 173, 247, 1) 20.666655898094177%,
    rgba(70, 248, 245, 1) 70.66665887832642%,
    rgba(70, 248, 245, 1) 79.1666567325592%
  );
  border-radius: 137px;
  opacity: 0.56;
  width: 511px;
  height: 192px;
  position: absolute;
  left: -169px;
  top: 443px;
  filter: blur(99px);
}
._01-top-label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 317px;
  position: absolute;
  left: 36px;
  top: 313px;
  overflow: hidden;
}
.vector-2 {
  width: 105px;
  height: 0px;
  position: absolute;
  left: 47px;
  top: 629px;
  overflow: visible;
}
.logo-cleanify-20241004-201648-0000-1 {
  width: 168px;
  height: 157px;
  position: absolute;
  left: 109px;
  top: 94px;
  object-fit: cover;
}
.group-47776 {
  position: absolute;
  inset: 0;
}
.group-1072 {
  width: 301.76px;
  height: 77.42px;
  position: static;
}
.email {
  color: #051625;
  text-align: left;
  font-family: "DmSans-Medium", sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  position: absolute;
  right: 64.52%;
  left: 11.48%;
  width: 24%;
  bottom: 62.87%;
  top: 35.46%;
  height: 1.66%;
}
.group-1069 {
  width: 301.74px;
  height: 43.48px;
  position: static;
}
.creativeitem-gmail-com {
  color: #000000;
  text-align: left;
  font-family: "Lato-Medium", sans-serif;
  font-size: 15px;
  line-height: 28px;
  font-weight: 500;
  position: absolute;
  right: 41.84%;
  left: 16.54%;
  width: 41.62%;
  bottom: 60.24%;
  top: 38.65%;
  height: 1.11%;
}
.rectangle-41 {
  border-radius: 28px;
  border-style: solid;
  border-color: #19a5ff;
  border-width: 1px;
  width: 76.78%;
  height: 3.34%;
  position: absolute;
  right: 11.74%;
  left: 11.48%;
  bottom: 58.58%;
  top: 38.07%;
}
.group-1073 {
  width: 301.76px;
  height: 77.42px;
  position: static;
}
.name {
  color: #051625;
  text-align: left;
  font-family: "DmSans-Medium", sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  position: absolute;
  right: 65.31%;
  left: 10.69%;
  width: 24%;
  bottom: 70.11%;
  top: 28.23%;
  height: 1.66%;
}
.your-name {
  color: #000000;
  text-align: left;
  font-family: "Lato-Medium", sans-serif;
  font-size: 15px;
  line-height: 28px;
  font-weight: 500;
  position: absolute;
  right: 42.63%;
  left: 15.75%;
  width: 41.62%;
  bottom: 67.47%;
  top: 31.42%;
  height: 1.11%;
}
.rectangle-412 {
  border-radius: 28px;
  border-style: solid;
  border-color: #19a5ff;
  border-width: 1px;
  width: 76.78%;
  height: 3.34%;
  position: absolute;
  right: 12.53%;
  left: 10.69%;
  bottom: 65.81%;
  top: 30.84%;
}
.group-1071 {
  width: 301.76px;
  height: 77.28px;
  position: static;
}
.password {
  color: #051625;
  text-align: left;
  font-family: "DmSans-Medium", sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  position: absolute;
  right: 68.7%;
  left: 11.48%;
  width: 19.82%;
  bottom: 55.48%;
  top: 42.77%;
  height: 1.76%;
}
.group-1070 {
  width: 301.74px;
  height: 43.48px;
  position: static;
}
.vector {
  opacity: 0.7;
  width: 4.33%;
  height: 0.92%;
  position: absolute;
  right: 16.54%;
  left: 79.13%;
  bottom: 52.5%;
  top: 46.57%;
  overflow: visible;
}
.group-1068 {
  width: 301.74px;
  height: 43.48px;
  position: static;
}
.min-8-character {
  color: #000000;
  text-align: left;
  font-family: "Lato-Medium", sans-serif;
  font-size: 15px;
  line-height: 28px;
  font-weight: 500;
  position: absolute;
  right: 53.77%;
  left: 16.28%;
  width: 29.95%;
  bottom: 51.7%;
  top: 45.8%;
  height: 2.5%;
}
.rectangle-42 {
  border-radius: 28px;
  border-style: solid;
  border-color: #19a5ff;
  border-width: 1px;
  width: 76.78%;
  height: 3.34%;
  position: absolute;
  right: 11.74%;
  left: 11.48%;
  bottom: 51.29%;
  top: 45.37%;
}
.group-248 {
  width: 140px;
  height: 48px;
  position: static;
}
.sign-in2 {
  color: #051625;
  text-align: left;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  position: absolute;
  right: 52.42%;
  left: 11.96%;
  width: 35.62%;
  bottom: 73.46%;
  top: 22.85%;
  height: 3.69%;
}
.group-48 {
  width: 302.87px;
  height: 43.39px;
  position: static;
}
.rectangle-4 {
  background: #19a5ff;
  border-radius: 139.7px;
  width: 77.07%;
  height: 3.34%;
  position: absolute;
  right: 11.45%;
  left: 11.48%;
  bottom: 43.51%;
  top: 53.15%;
}
.sign-in3 {
  color: #ffffff;
  text-align: left;
  font-family: "Outfit-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  right: 41.55%;
  left: 44.02%;
  width: 14.43%;
  bottom: 44.79%;
  top: 53.8%;
  height: 1.41%;
}
.group-1067 {
  width: 138px;
  height: 28px;
  position: static;
}
.remember-me {
  color: #051625;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 10px;
  line-height: 28px;
  font-weight: 400;
  position: absolute;
  right: 51.91%;
  left: 18.58%;
  width: 29.52%;
  bottom: 48.69%;
  top: 49.15%;
  height: 2.15%;
}
.group-1066 {
  width: 4.07%;
  height: 1.23%;
  position: absolute;
  right: 82.95%;
  left: 12.98%;
  bottom: 49.15%;
  top: 49.62%;
  overflow: visible;
}
.gradient-blur3 {
  background: linear-gradient(
    90deg,
    rgba(81, 142, 248, 1) 0%,
    rgba(78, 173, 247, 1) 20.666655898094177%,
    rgba(70, 248, 245, 1) 70.66665887832642%,
    rgba(70, 248, 245, 1) 79.1666567325592%
  );
  border-radius: 137px;
  opacity: 0.56;
  width: 511px;
  height: 192px;
  position: absolute;
  left: -128px;
  top: 858px;
  filter: blur(99px);
}
.rock {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0px;
  top: 38px;
  overflow: visible;
}
.rock2 {
  width: 87px;
  height: 81px;
  position: absolute;
  left: 383px;
  top: 661px;
  transform: translate(-81px, 0px);
  overflow: visible;
}
.rock3 {
  width: 114px;
  height: 100px;
  position: absolute;
  left: 330px;
  top: 363px;
  transform: translate(-114px, -100px);
  overflow: visible;
}
.rock4 {
  width: 114px;
  height: 100px;
  position: absolute;
  left: 407px;
  top: 56px;
  transform: translate(-114px, -56px);
  overflow: visible;
}
.already-registered-log-in {
  text-align: center;
  font-family: "-", sans-serif;
  font-size: 11px;
  line-height: 140%;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 149.5px);
  top: 744px;
}
.already-registered-log-in-span {
  color: #838b95;
  font-family: "Lato-Medium", sans-serif;
  font-size: 11px;
  line-height: 140%;
  font-weight: 500;
}
.already-registered-log-in-span2 {
  color: #4977e5;
  font-family: "Lato-SemiBold", sans-serif;
  font-size: 11px;
  line-height: 140%;
  font-weight: 600;
}
.group-47777 {
  position: absolute;
  inset: 0;
}
.rectangle-2661 {
  background: #165781;
  width: 420px;
  height: 493.21px;
  position: absolute;
  left: 0px;
  top: 848px;
}
.line-2 {
  margin-top: -0.8px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0.8px 0 0 0;
  opacity: 0.31;
  width: 420px;
  height: 0px;
  position: absolute;
  left: calc(50% - -223.5px);
  top: 1249.05px;
  transform-origin: 0 0;
  transform: rotate(180deg) scale(1, 1);
}
.group-47687 {
  width: 256px;
  height: 44px;
  position: static;
}
.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-ut-aliquam-purus-sit-amet-luctus-venenatis {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Medium", sans-serif;
  font-size: 10px;
  line-height: 138%;
  font-weight: 500;
  position: absolute;
  left: 23px;
  top: 927px;
  width: 256px;
}
.group-36771 {
  width: 95px;
  height: 9px;
  position: absolute;
  left: 23px;
  top: 962px;
  overflow: visible;
}
.logo-cleanify-20241004-201648-0000-3 {
  width: 6.62%;
  height: 1.92%;
  position: absolute;
  right: 88.55%;
  left: 4.83%;
  bottom: 29.85%;
  top: 68.23%;
  object-fit: cover;
}
.cleanify {
  color: #ffffff;
  text-align: left;
  font-family: "Manjari-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  position: absolute;
  right: 58.78%;
  left: 12.98%;
  width: 28.24%;
  bottom: 29.85%;
  top: 68.77%;
  height: 1.38%;
}
.group-16709 {
  width: 89.81px;
  height: 195.43px;
  position: static;
}
.company {
  color: #ffffff;
  text-align: left;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  left: 25px;
  top: 997px;
  width: 89.81px;
  height: 29.83px;
}
.beranda-layanan-about-us-contact-us {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Medium", sans-serif;
  font-size: 11px;
  font-weight: 500;
  position: absolute;
  left: 26px;
  top: 1029px;
  width: 81.35px;
  height: 163.43px;
}
.group-16708 {
  width: 84.52px;
  height: 195.43px;
  position: static;
}
.support {
  color: #ffffff;
  text-align: left;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  left: 139px;
  top: 997px;
  width: 75.01px;
  height: 29.83px;
}
.help-center-tweet-us-webians-feedback {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Medium", sans-serif;
  font-size: 11px;
  font-weight: 500;
  position: absolute;
  left: 139px;
  top: 1029px;
  width: 84.52px;
  height: 163.43px;
}
.group-16707 {
  width: 115.16px;
  height: 195.43px;
  position: static;
}
.links {
  color: #ffffff;
  text-align: left;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  left: 256.11px;
  top: 997px;
  width: 47.54px;
  height: 29.83px;
}
.courses-become-teacher-service-all-in-one {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Medium", sans-serif;
  font-size: 11px;
  font-weight: 500;
  position: absolute;
  left: 256px;
  top: 1029px;
  width: 115.16px;
  height: 163.43px;
}
.group-36774 {
  width: 136px;
  height: 64px;
  position: static;
}
.contact-us {
  color: #ffffff;
  text-align: left;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  left: 23px;
  top: 1151px;
}
.group-36772 {
  width: 134px;
  height: 13px;
  position: static;
}
.cleanifyofc-gmail-com {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Medium", sans-serif;
  font-size: 11px;
  font-weight: 500;
  position: absolute;
  left: 48px;
  top: 1202px;
}
.vector2 {
  width: 3.31%;
  height: 1%;
  position: absolute;
  right: 90.33%;
  left: 6.36%;
  bottom: 6.54%;
  top: 92.46%;
  overflow: visible;
}
.group-36773 {
  width: 132px;
  height: 15px;
  position: static;
}
._62-838-9760-6671 {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Medium", sans-serif;
  font-size: 11px;
  font-weight: 500;
  position: absolute;
  left: 48px;
  top: 1179px;
}
.vector3 {
  width: 3.82%;
  height: 1.15%;
  position: absolute;
  right: 90.33%;
  left: 5.85%;
  bottom: 8.31%;
  top: 90.54%;
  overflow: visible;
}
