.user-details,
.user-details * {
  box-sizing: border-box;
}
.user-details {
  background: #ffffff;
  height: 844px;
  position: relative;
  overflow-y: auto;
}
.back {
  position: absolute;
  inset: 0;
}
.rectangle-161 {
  background: var(--white, #ffffff);
  border-radius: 12px;
  border-style: solid;
  border-color: var(--border, #e8ecf4);
  border-width: 1px;
  width: 41px;
  height: 41px;
  position: absolute;
  left: 20px;
  top: 33px;
}
.back-arrow {
  width: 4.87%;
  height: 2.25%;
  position: absolute;
  right: 87.44%;
  left: 7.69%;
  bottom: 92.54%;
  top: 5.21%;
  overflow: visible;
}
.user-details2 {
  color: var(--dark, #1e232c);
  text-align: center;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: absolute;
  left: 74px;
  top: 40px;
}
.frame-46 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  position: absolute;
  left: 20px;
  top: 131px;
}
.user-circle {
  flex-shrink: 0;
  width: 100px;
  height: 99.01px;
  position: relative;
  overflow: visible;
}
.frame-45 {
  display: flex;
  flex-direction: column;
  gap: 9px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 206px;
  position: relative;
}
.user-no {
  color: #19a5ff;
  text-align: left;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 25px;
  line-height: 100%;
  font-weight: 700;
  position: relative;
  width: 143px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-167 {
  flex-shrink: 0;
  width: 206px;
  height: 138px;
  position: static;
}
.worem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-nunc-vulputate-libero-et-velit-interdum-ac-aliquet-odio-mattis-class-aptent-taciti {
  color: var(--gray, #858585);
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 12px;
  line-height: 150%;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 66.6px;
  width: 206px;
  height: 110.4px;
}
.details {
  color: var(--black, #000000);
  text-align: left;
  font-family: "OpenSans-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.02em;
  font-weight: 600;
  position: absolute;
  right: 36.53%;
  left: 0%;
  width: 63.47%;
  bottom: 54.43%;
  top: 22.03%;
  height: 23.54%;
}
.gradient-blur {
  background: linear-gradient(
    90deg,
    rgba(81, 142, 248, 1) 0%,
    rgba(78, 173, 247, 1) 20.666655898094177%,
    rgba(70, 248, 245, 1) 70.66665887832642%,
    rgba(70, 248, 245, 1) 79.1666567325592%
  );
  border-radius: 137px;
  opacity: 0.56;
  width: 511px;
  height: 192px;
  position: absolute;
  left: 55px;
  top: 514px;
  filter: blur(99px);
}
.locations-list {
  color: var(--dark, #1e232c);
  text-align: center;
  font-family: "-", sans-serif;
  font-size: 20px;
  line-height: 100%;
  font-weight: 400;
  position: absolute;
  left: 119px;
  top: 316px;
  width: 138px;
  height: 16px;
}
.locations-list-span {
  color: var(--dark, #1e232c);
  font-family: "Urbanist-Bold", sans-serif;
  font-size: 20px;
  line-height: 100%;
  font-weight: 700;
}
.locations-list-span2 {
  color: var(--dark, #1e232c);
  font-family: "Urbanist-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 100%;
  font-weight: 600;
}
.frame-47 {
  display: flex;
  flex-direction: column;
  gap: 13px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 20px;
  top: 392px;
}
.component-2 {
  flex-shrink: 0;
  width: 350px;
  height: 72px;
  position: relative;
}
.rectangle-17 {
  background: var(--light-blue, #e8f5f3);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.location-name {
  color: #19a5ff;
  text-align: left;
  font-family: "OpenSans-SemiBold", sans-serif;
  font-size: 15px;
  line-height: 100%;
  font-weight: 600;
  position: absolute;
  left: 6px;
  top: 14px;
  width: 120px;
  height: 13px;
}
.frame-27 {
  background: #19a5ff;
  border-radius: 4px;
  padding: 9px 7px 9px 7px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 66px;
  position: absolute;
  left: 275px;
  top: 21px;
  overflow: hidden;
}
.delete {
  color: #ffffff;
  text-align: left;
  font-family: "Urbanist-SemiBold", sans-serif;
  font-size: 12px;
  line-height: 100%;
  font-weight: 600;
  position: relative;
}
.ipsum-dolo-ipsum-dolo {
  color: var(--gray, #858585);
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 12px;
  line-height: 150%;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 169px);
  top: 39px;
  width: 140px;
  height: 17px;
}
.component-3 {
  flex-shrink: 0;
  width: 350px;
  height: 72px;
  position: relative;
}
.component-4 {
  flex-shrink: 0;
  width: 350px;
  height: 72px;
  position: relative;
}
.component-5 {
  flex-shrink: 0;
  width: 350px;
  height: 72px;
  position: relative;
}
.component-6 {
  flex-shrink: 0;
  width: 350px;
  height: 72px;
  position: relative;
}
.component-7 {
  flex-shrink: 0;
  width: 350px;
  height: 72px;
  position: relative;
}
.frame-272 {
  background: #19a5ff;
  border-radius: 4px;
  padding: 9px 0px 9px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 122px;
  position: absolute;
  left: 248px;
  top: 387px;
  overflow: hidden;
}
.add-more-locations {
  color: #ffffff;
  text-align: left;
  font-family: "Urbanist-SemiBold", sans-serif;
  font-size: 12px;
  line-height: 100%;
  font-weight: 600;
  position: relative;
}
.gradient-blur2 {
  background: linear-gradient(
    90deg,
    rgba(81, 142, 248, 1) 0%,
    rgba(78, 173, 247, 1) 20.666655898094177%,
    rgba(70, 248, 245, 1) 70.66665887832642%,
    rgba(70, 248, 245, 1) 79.1666567325592%
  );
  border-radius: 137px;
  opacity: 0.56;
  width: 511px;
  height: 192px;
  position: absolute;
  left: -92px;
  top: 99px;
  filter: blur(99px);
}
